@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}

body {
  @apply bg-slate-50 text-slate-900 antialiased;
}

a {
  @apply text-brand-600 hover:text-brand-700;
}

